@font-face {
    font-family: 'Aileron';
    src: url('./../fonts/Aileron/Aileron-Black.woff2') format('woff2'),
        url('./../fonts/Aileron/Aileron-Black.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Aileron';
    src: url('./../fonts/Aileron/Aileron-Heavy.woff2') format('woff2'),
        url('./../fonts/Aileron/Aileron-Heavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Aileron';
    src: url('./../fonts/Aileron/Aileron-Bold.woff2') format('woff2'),
        url('./../fonts/Aileron/Aileron-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Aileron';
    src: url('./../fonts/Aileron/Aileron-Light.woff2') format('woff2'),
        url('./../fonts/Aileron/Aileron-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Aileron';
    src: url('./../fonts/Aileron/Aileron-Regular.woff2') format('woff2'),
        url('./../fonts/Aileron/Aileron-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Aileron';
    src: url('./../fonts/Aileron/Aileron-SemiBold.woff2') format('woff2'),
        url('./../fonts/Aileron/Aileron-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

